h1
{
    color: black;
}

h5
{
    color: #ffffff
}
h6
{
    color: #ffffff
}
p
{
    color: #ffffff
}

li
{
    color: #ffffff
}

p
{
    color: #000000
}

div
{
    color: #000000
}
img.app{
    margin-right: 200px;
}