{% extends "base.html" %}

{% block content %}
<h1>{{ action }} ивента</h1>
<h1>{{message}}</h1>
<form class="login_form" method="post" enctype="multipart/form-data">
    <div class="form-group">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start_time.label }}<br>
        {{ form.start_time(class="form-control") }}<br>
        {% for error in form.start_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        <p>
        {{ form.end_time.label }}<br>
        {{ form.end_time(class="form-control") }}<br>
        {% for error in form.end_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <p>
        {{ form.classroom.label }}<br>
        {{ form.classroom(class="form-control") }}<br>
        {% for error in form.classroom.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        <p>Номер анимации<br/>
            1. Алгебра <span style="padding-left:3.4em"> 2. Английский язык </span><br/>
            3. Биология  <span style="padding-left:2.8em"> 4. География<br/> </span>
            5. Геометрия  <span style="padding-left:2.25em">   6. История<br/></span>
            7. Информатика   <span style="padding-left:0.8em">  8. Литература<br/></span>
            9. ОБЖ      <span style="padding-left:4.9em">        10. Обществознание<br/></span>
            11. Русский язык   <span style="padding-left:0.55em"> 12. Физика<br/></span>
            13. Физкультура  <span style="padding-left:0.9em">   14. Химия</span><br>
            15. Без анимации </p><br>
        {{ form.numbOfAni(class="form-control") }}<br>
        {% for error in form.numbOfAni.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

         <p> {% if form.choices.errors %}
                <div class="invalid-feedback">
                    {% for error in form.choices.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% for choice in form.choices %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </div>
</form>
{% endblock %}